<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>sv</string>
	<key>CFBundleDisplayName</key>
	<string>Vitaly</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vitaly</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.perfectfools.vitaly</string>
				<string>app-1-1072746045072-ios-451af1d44d197939cb0215</string>
				<string>com.googleusercontent.apps.1072746045072-u9thgcriuobgqatcf5hi58d0fr0iugbi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>202601301739</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Vitaly behöver tillgång till kameran för att kunna fotografera dina labbresultat och hälsokontroller.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Vitaly behöver tillgång till din hälsodata för att visa dina hälsometriker, analysera dina mönster och ge personliga insikter baserade på din sömn, aktivitet och hjärtdata.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Vitaly kan spara beräknade metriker tillbaka till Hälsa-appen för att ge dig en komplett översikt av din hälsa.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Vitaly vill skicka dig dagliga sammanfattningar av din hälsa och personliga påminnelser för att hjälpa dig nå dina hälsomål.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>VitalyBackground</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
